@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
body {
  background-color: black;
  color: #fff;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

img {
  border-radius: 50%;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  height: auto;
  max-width: 100px;
}

.profile-name {
  text-align: center;
  padding: 30px;
}

.links {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid white;
  border-width: 2px;
  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
}

a {
  text-decoration: none;
  color: white;
  transition: color 1s;
}

.bottom-text {
  text-align: center;
  margin-top: 40px;
  font-size: 11px;
  font-weight: unset;
}

a:hover {
  color: #000;
  background: #fff;
  background-image: linear-gradient(to right top, #d16ba5, #c175b4, #af7ebf, #9d86c5, #8c8dc6, #8198d0, #76a3d7, #6caedc, #5cc2ea, #4ed6f2, #4ce9f5, #5ffbf1);
}
